<a href="#" id="backTop" class="back-to-top">
  <picture>
    <source data-src="./images/back-to-top.png?as=avif&width=27&height=55" srcset="./images/back-to-top.png?as=avif&width=27&height=55" type="image/avif" width="27" height="55" />
    <source data-src="./images/back-to-top.png?as=webp&width=27&height=55" srcset="./images/back-to-top.png?as=webp&width=27&height=55" type="image/webp" width="27" height="55" />
    <source data-src="./images/back-to-top.png?width=27&height=55" srcset="./images/back-to-top.png?width=27&height=55" type="image/png" width="27" height="55" />
    <img data-src="./images/back-to-top.png?width=27&height=55" src="./images/back-to-top.png?width=27&height=55" alt="Back to top image" width="27" height="55" />
  </picture>

  <span class="back-to-top__text">scroll top</span>
</a>