<nav class="navigation" id="navigation">
  <div class="container navigation__container">
    <div class="navigation__header">
      <picture>
        <source srcset="./images/logo.png?as=avif&width=40&height=40" type="image/avif" width="40" height="40" />
        <source srcset="./images/logo.png?as=webp&width=40&height=40" type="image/webp" width="40" height="40" />
        <source srcset="./images/logo.png?width=40&height=40" type="image/png" width="40" height="40" />
        <img src="./images/logo.png?width=40&height=40" alt="Rejaur Rahman Portfolio Logo" width="40" />
      </picture>

      <button type="button" class="navigation__burger-menu" aria-label="Hamburger Mobile Menu">
        <span class="navigation__burger-menu--icon" aria-hidden="true"></span>
        <span class="navigation__burger-menu--icon" aria-hidden="true"></span>
        <span class="navigation__burger-menu--icon" aria-hidden="true"></span>
      </button>
    </div>
    <div class="navigation__navbar">
      <ul class="navigation__list">
        <li class="navigation__list--item">
          <a href="#intro" class="navigation__list--link navigation__list--active">home</a>
        </li>

        <li class="navigation__list--item">
          <a href="#about" class="navigation__list--link">about</a>
        </li>

        <li class="navigation__list--item">
          <a href="#education" class="navigation__list--link">education</a>
        </li>

        <li class="navigation__list--item">
          <a href="#experience" class="navigation__list--link">experience</a>
        </li>

        <li class="navigation__list--item">
          <a href="#skillset" class="navigation__list--link">skillset</a>
        </li>

        <li class="navigation__list--item">
          <a href="#projects" class="navigation__list--link">projects</a>
        </li>

        <li class="navigation__list--item">
          <a href="#testimonials" class="navigation__list--link">testimonials</a>
        </li>

        <li class="navigation__list--item">
          <a href="#contact" class="navigation__list--link">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="overlay"></div>